<!-- #main_container -->
<div class="container" id="main_container">
  <!-- header -->
  <header>
  <div class="container">
    <div class="header row">
      <div class="logo col-xs-4 col-sm-9 col-md-8 col-lg-6">
        <h2><a href="/home">Caricatures by <span>Chris</span></a></h2>
      </div>
      <div class="social-icon col-xs-8 col-sm-3 col-md-4 col-lg-6">
        <ul class="list-unstyled list-inline">
          <li> Connect:</li>
          <li><a href="#form" class="icon-envelope"><i class="fa fa-envelope"></i></a></li>
          <li><a href="https://www.facebook.com/caricaturesbychrismcgehee" class="icon-facebook"><i class="fa fa-facebook"></i></a></li>

        </ul>
      </div>
    </div>
  </div>
  </header>
<!-- /header --> 
<!-- #product  -->
<section id="product">
  <div class="product-background">
    <div class="container">
      <div class="row product-content">
        <div class="col-lg-12 product-background">
          <div class="row">
            <div id="video" class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <iframe id='iframe' src="http://player.vimeo.com/video/117458193?title=0&amp;portrait=0&amp;byline=0&amp;badge=0" width="500" height="281" allowfullscreen></iframe>
            </div>
            <div class="product-title col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <h1>Chris McGehee</h1>
              <p class="info-product">Serving Atlanta for over 30 years</p>
                <ul class="list-unstyled">
                <li><i class="fa fa-chevron-circle-right"></i> Birthday Parties</li>
                <li><i class="fa fa-chevron-circle-right"></i> Corporate Events</li> 
                <li><i class="fa fa-chevron-circle-right"></i> Private Parties</li>
                </ul>
                <p> <button onClick="location.href='#form'" type="button" class="btn btn-action btn-custom-2" >
                <span class="btn-icon"><i class="fa fa-chevron-right"></i></span><strong>Drop me a line!</strong></button></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #product  --> 

<!-- #features -->
<section id="features">
  <div class="container">
    <div class="row clearfix">
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
        <!-- .panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-magic"></i> Unique</h3>
          </div>
          <div class="panel-body">
            <p>Chris makes sure that just like your physical characteristics, each illustration is different.</p>
          </div>
        </div>
        <!-- /.panel --> 
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
        <!-- .panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-heart"></i> Memorable</h3>
          </div>
          <div class="panel-body">
            <p>It's a fun work of art that you'll never forget</p>
          </div>
        </div>
        <!-- /.panel --> 
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"> 
        <!-- .panel -->
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-user"></i> Personal</h3>
          </div>
          <div class="panel-body">
            <p>Chris is professional, courteous, and always makes subjects feel like friends.</p>
          </div>
        </div>
        <!-- /.panel --> 
      </div>
    </div>
  </div>
</section>
<!-- /#features --> 
<!-- #services -->
<section id="services">
  <div class="container">
    <div class="row clearfix">
      <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 screenshots"> -->
        <h2>Gallery</h2>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/1.jpg"> 
        <%= image_tag("../images/gallery/1.jpg", class: "img-responsive img-thumbnail", alt: "1")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/2.jpg"> 
        <%= image_tag("../images/gallery/2.jpg", class: "img-responsive img-thumbnail", alt: "2")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/3.jpg"> 
        <%= image_tag("../images/gallery/3.jpg", class: "img-responsive img-thumbnail", alt: "3")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/4.jpg"> 
        <%= image_tag("../images/gallery/4.jpg", class: "img-responsive img-thumbnail", alt: "4")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/5.jpg"> 
        <%= image_tag("../images/gallery/5.jpg", class: "img-responsive img-thumbnail", alt: "5")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/6.jpg"> 
        <%= image_tag("../images/gallery/6.jpg", class: "img-responsive img-thumbnail", alt: "6")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/1.jpg"> 
        <%= image_tag("../images/gallery/7.jpg", class: "img-responsive img-thumbnail", alt: "7")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/8.jpg"> 
        <%= image_tag("../images/gallery/8.jpg", class: "img-responsive img-thumbnail", alt: "8")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/9.jpg"> 
        <%= image_tag("../images/gallery/9.jpg", class: "img-responsive img-thumbnail", alt: "9")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/10.jpg"> 
        <%= image_tag("../images/gallery/10.jpg", class: "img-responsive img-thumbnail", alt: "10")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/11.jpg"> 
        <%= image_tag("../images/gallery/11.jpg", class: "img-responsive img-thumbnail", alt: "11")%>
        </a> </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-3 img-screenshots"> 
        <a class="imgHover prettyPhoto" href="images/gallery/12.jpg"> 
        <%= image_tag("../images/gallery/12.jpg", class: "img-responsive img-thumbnail", alt: "12")%>
        </a> </div>
      <!-- </div> -->
    </div>
  </div>
</section>
<!-- Go to top button --> 
<a href="#" class="to-top"><i class="fa fa-chevron-up"></i></a> 
<!-- /Go to top button --> 
<!-- footer -->
<footer>
  <a id="form"></a>
  <div class="container"> 
    <!-- .items-footer -->
    <div class="row clearfix items-footer">
        <h3>Drop me a line</h3>
        <!-- .contact-form -->
        <div class="contact-form">
          <div class="contact-form-box">
            <form id="ajax-contacts" action="/email" method="POST">
              <div class="message-contact-box">
                <div id="message-contact"></div>
              </div>
              <fieldset>
                <div class="form-group col-lg-12">
                  <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input class="form-control" type="text" name="name" value="" placeholder="Your Name">
                  </div>
                  <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input class="form-control" type="text" name="email" value="" placeholder="Your E-Mail">
                  </div>
                  <div class="input-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <input class="form-control" type="text" name="subject" value="" placeholder="Message Subject">
                  </div>
                  <textarea class="form-control col-xs-12 col-sm-12 col-md-12 col-lg-12" name="message" rows="4" cols="25" placeholder="Leave Your Message"></textarea>
                  <div class="div-center clearfix">
                    <input id="send-contact" class="btn btn-default btn-lg btn-block" type="submit" name="submit" value="Send Message">
                    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <!-- /.contact-form --> 
    </div>
    <!-- /.items-footer --> 
  </div>
</footer>
<!-- /footer -->
</div>
